// This is the file containing colors.

$color-red: #ff5252;
$color-blue: #0097a7;
$color-darkblue: #161e21;
$color-white: #fff;
$color-black: #101010;
$color-lightgray: #d4d4d4;
$color-mediumgray: #949494;
$color-lightgray-text: #d5d5d5; // TODO: ASK: Very similar color to $color-lightgray... mistake?
$color-heading-border-blue: #0097a7;

// footer colors
$color-darkgreen-footer: #0f2123;
$color-green-footer: #1e2c2e;
