/**
 * @file
 * This is the base CSS file.
*/

@import "colors";
@import "breakpoints";

body {
  margin: 0;
  color: $color-lightgray-text;
  background-color: $color-black;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem; // 14px TODO: ASK: better accessibility or pixel perfect cross-browser compatibility?
  font-style: normal;
  line-height: 214%; // 30px
}

h1 {
  text-transform: capitalize;
  color: $color-white;
  font-size: 4rem; // 64px;
  //font-size: 12vw;
  font-weight: 100;
  line-height: 117%; // 75px;
}

h2 {
  position: relative;
  text-transform: uppercase;
  color: $color-white;
  font-size: 2.25rem; // 36px
  //font-size: 5vw;
  font-weight: 300;
  line-height: 117%; /* 42px */
}

h2:after {
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 50px;
  height: 3px;
  content: "";
  background: $color-heading-border-blue;
}

h3 {
  color: $color-white;
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  line-height: 117%; /* 28px */
}

b,
strong {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $color-white;
}

img {
  width: 100%;
}

// TODO: Buttons
