@use "colors";
@use "breakpoints" as bp;

.agiledrop-content-full-lastest-event {
  padding: 75px 10%;
  background-color: colors.$color-darkblue;

  .container {
    display: flex;
    flex-direction: column-reverse;

    @include bp.for-tablet-up {
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      height: 100%;
      margin: 0 auto;
      padding: 0;

      .img-left {
        flex: 0 0 45%;
      }

      .content-right {
        flex: 1 1 55%;
        align-self: center;
        padding-left: 4rem;
      }
    }
  }

  .field--name-body {
    padding: 1rem 0;
  }

  .field--type-image {
    display: inline;

    .image-style-article-teaser {
      object-fit: cover;
    }
  }

  @include bp.for-tablet-up {
    padding: 120px 10%;
  }
}
