@use "breakpoints" as bp;
@use "colors";

.agiledrop-content-full-about-me {
  padding: 75px 10%;

  .container {
    display: flex;

    @include bp.for-tablet-up {
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      height: 100%;
      margin: 0 auto;
      padding: 0;

      .img-right {
        position: relative;

        flex: 0 0 50%;

        &:before {
          position: absolute;
          z-index: -1;
          top: -140px;
          left: -165px;
          width: 330px;
          height: 330px;
          content: "";
          background-color: colors.$color-darkgreen-footer;
        }

        &:after {
          position: absolute;
          z-index: -1;
          right: -75px;
          bottom: -75px;
          width: 150px;
          height: 150px;
          content: "";
          background-color: colors.$color-darkpurple-square;
          transform: rotate(-45deg);
        }
      }

      .content-left {
        flex: 1 1 50%;
        padding-right: 5.5rem;

        h2 {
          margin-top: 0;
        }
      }
    }
  }

  .content-left {
    padding-right: 1rem;
  }

  .field--name-body {
    padding-right: 1rem;
  }

  .field--type-image {
    display: inline;

    .image-style-about-me {
      object-fit: cover;
    }
  }

  @include bp.for-tablet-up {
    padding: 250px 10% 120px;
  }
}
// TODO: Add 2 squares around picture
