// This is the file containing branding block.

@use "breakpoints" as bp;

.block-system-branding-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1.5rem;

  @include bp.for-tablet-up {
    margin-top: 0;
  }
}

.site-logo {
  display: flex;
}

.site-logo + .site-slogan {
  margin-left: 1rem;
}

.site-slogan {
  display: flex;
  font-size: 1.5rem;
  font-weight: 900;
}
