.menu--main {
  display: flex;
  align-items: center;
}

ul.menu {
  display: flex;
  flex-wrap: nowrap;
  max-height: none;
  margin-left: initial;
}
ul.menu a {
  display: inline;
}
ul.menu a.is-active {
  position: relative;
  display: inline;
  color: #fff;
}
ul.menu a.is-active:before {
  position: absolute;
  bottom: -0.5rem;
  left: 5%;
  width: 90%;
  height: 3px;
  content: "";
  border-radius: 3px;
  background: #0097a7;
}

.menu-item {
  text-transform: uppercase;
}

.menu-item + .menu-item {
  margin-left: 1.5rem;
}