.region-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 48em) {
  .region-header {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1050px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10%;
  }
}